*{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.col-logo{
	padding: 50px;
}
.col-buttons{
	padding: 70px;
}
.col-btn{
	width: 160px;
	margin-right: 15px;
}
.col-category-list{
	padding: 25px 50px 25px 60px;
}
.col-category-list li{
	margin-top: 16px
}

.my-app__logo{
	width: 134px;
	height: 63px;
	text-align: center;
	font-size: 1rem;
	color: white;
	display: inline-block;
	margin-right: 43rem;
}

.btn-remove__categ{
	margin-right: 1rem;
}
.row-table{
	padding-right: 25px;
}
/*and modal footer buttons*/
.ant-modal-footer{
	display:none
}
/*-----------------------------*/

.row-table__btn-show{
	margin-left: 4rem !important;
}

.header{
	position: fixed; 
	z-index: 1;
	width: 100%;
	display:flex;
	justify-content: space-between;
}

.content{
	padding: 0 50px;
	 margin-top: 64px; 
	 height: 100vh;
}
