*{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.col-logo{
	padding: 50px;
}
.col-buttons{
	padding: 70px;
}
.col-btn{
	width: 160px;
	margin-right: 15px;
}
.col-category-list{
	padding: 25px 50px 25px 60px;
	text-align: center;
}
.col-category-list li{
	margin-top: 16px
}

.my-app__logo{
	width: 134px;
	height: 63px;
	text-align: center;
	font-size: 1rem;
	color: white;
	display: inline-block;
}

.btn-remove__categ{
	margin-right: 1rem;
}
.row-table{
	padding-right: 25px;
}

.row-table__btn-show{
	margin-left: 4rem !important;
}

.header{
	position: fixed; 
	z-index: 1;
	width: 100%;
	display:flex;
	justify-content: space-between;
}

.header-menu{
	display: flex;
	justify-content: flex-start;
}

.content{
	padding: 0 50px;
	margin-top: 64px; 
	height: 100vh;
}

.prod-position{
	position: absolute;
	top: 6.5rem;
	left: 25rem;
	z-index: 100;
}

.col-position{
	position: relative;
}

.categ-position{
	position: absolute;
	z-index: 100;
	left: 6rem;
	top: 6.5rem;
}

.login-form{
	width: 20rem;
}

.login-form__error-message{
	height: 5rem;
}

.login-form__with-error{
	width: 22rem;
	margin: auto;
	text-align: center;
	padding: 1rem;
}

.login-form-button{
	width: 100%;
}

.login-form__logo{
	width: 230px;
	height: 63px;
	text-align: center;
	font-size: 2rem;
	display: inline-block;
	border: 3px solid lightblue;
	border-radius: 18px;
	padding-top: 6px;
	margin: 16px;
}

.login-form__logo:hover{
	cursor: pointer;
}

.header-menu .link a{
	color: white;
	font-size: 1rem;
}

.product-list{
	display: flex;
	flex-wrap:wrap ;
	justify-content: flex-start;
}

.product-list li{
	margin-right: .5rem;
	margin-bottom: .5rem;
}

.product-details{
	width: 400px;
	height: 30vh;
	margin: 20px auto;
	text-align: center;
	border: 2px solid lightgray;
	padding-top: 20px;
}
.product-details h1{
	font-size: 40px;
	font-weight: 700;
}

.product-details h3{
	font-size: 25px;
	margin-top: 40px;
}

.product-details h4{
	font-size: 20px;
}


/*=========antd components style==============*/

/*and modal footer buttons*/
.ant-modal-footer{
	display:none
}
/*-----------------------------*/
.ant-layout-sider{
	background: white;
	padding-top: 2rem;
}

.ant-layout.ant-layout-has-sider{
	margin-top:65px;
	background: white
}

.ant-card{
	text-align: center;
	border: 3px solid lightgrey;
}

.ant-layout-content{
	margin-top: 65px;
	background: white;
}

.ant-card-head{
	background: lightgray;
}

.ant-card-head:hover{
	background: lightblue;
	color: white;
	cursor: pointer;
}

/*==========================*/
