*{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.col-logo{
	padding: 50px;
}
.col-buttons{
	padding: 70px;
	text-align: center;
}
.col-btn{
	width: 200px;
	margin-right: 15px;
}
.col-category-list{
	padding: 25px 50px 25px 60px;
}
.col-category-list li{
	margin-top: 16px
}

.my-app__logo{
	border: 1px solid grey;
	border-radius: 30px;
	width: 150px;
	height: 74px;
	padding: 19px;
	text-align: center;
	font-size: 1.3rem;;
}

.btn-remove__categ{
	margin-right: 1rem;
}
.row-table{
	padding-right: 25px;
}

/*temporary remove table paggination*/
.ant-pagination{
	display:none
}
/*-----------------------------*/
